*{
  margin:0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App{
  max-width: 500px;
  margin:20px auto;
  border:1px solid lightblue;
}
.info-block{
  min-height:35px;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  padding:20px 40px;
}
.info-block ul{
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  width:50%;
  justify-content:space-around;
}
.info-block ul li{
  text-align: left;
}
.info-block__title{
  font-weight: bold;
}
.info-block__remove-btn{
  background: brown;
  color: #fff;
  border:none;
  border-radius:5px;
  padding:10px;
}